h1,h2,h3 {
    font-family: 'Arial', sans-serif;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}


.red {
    color: red;
}
.orange{
    color: orange;
}
.green {
    color: green;
}
p {
    font-size : 1.2em;
    font-family: 'Times New Roman', Times, serif;
}