
body {
    font-family: Helvetica, sans-serif;
    margin-top: 0;
}

/*# header and footer */

header h1,header h2 {
    font-weight: normal;
    color: #EDF2F4;
}
h1 {
        font-size: 80px;
}
h2 {
        font-size: 40px;
}

header,footer,.education {
    padding: 30px;
}
header {
    margin-bottom: 10px;
}
header,footer {
    color: #8D99AE;
    background-color: #2B2D42;
    display: block;
}
footer {
   margin-top: 10px;
}

/*# education */
.education {
    background-color: #8D99AE;
    color: black;
    padding: 30px;
    margin: auto;
}

/*links en a */
a{
    color: #EF233C;
}
a:link {
    color: #EF233C;
    text-decoration: underline;
}
