body{
    margin-left: auto;
    margin-right: auto;
    padding: 0;

}
article:nth-child(odd) img{
    float: left;

}
article:nth-child(even) img{
    float: right;
}

article:nth-child(odd){
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    margin: 10px;
}
article:nth-child(even){
    border: 1px solid black;
    box-sizing: border-box;
    float: right;
    margin: 10px;
}
